
html {
  box-sizing: border-box;
  font-family: Lato;
}

*, *:before, *:after {
  box-sizing: inherit;
}
content{
  width: 100%;
  padding: 5%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.divisor{
  max-width: 0px;
  height: 70%;
  border: 0.1em solid black;
  position: absolute;
  padding: 0;;
}
.item{font-size: 40px;}
.box-seleccion{
  position: absolute;
  width: 25%;
  height: auto;
  margin-top: 10%;
  border: ;
  background: white;
}

.fade:not(.show){

  opacity: 1;
}
.fade {

    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}
.ng-hide {
    opacity: 0;

}
.active {
   color: blue;
}

.box-seleccion .item  i{
  font-size: 60px;
}
.box-seleccion .labelResult{
  font-size: 30px;
}
.text_ppt{
  font-size: 18px;
}
@media (max-width: 600px) and (orientation: landscape) {
  .box-seleccion{

    margin-top: 17%!important;

  }
}
@media (max-width: 600px) {
  .text_ppt{
    font-size: 13px;
  }
  .item{font-size: 20px;}
  .yo{
    text-align: left;
    padding-left: 15px;
  }
  .pc{
    text-align: right;
    padding-right: 15px;
  }
  .box-seleccion{
    position: absolute;
    width: 60%;
    height: auto;
    margin-top: 30%;
    background: white;
  }
  .box-seleccion .item  i{
    font-size: 35px;
  }
}
